<ngx-charts-bar-horizontal-stacked
        [view]="view"
        [scheme]="colorScheme"
        [results]="barResults"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        >
        <ng-template #tooltipTemplate let-model="model">
          <span class="tooltip-label">{{model.series.startsWith('sam') ? 'sam' : model.series}} / {{model.name}}</span>
          <span class="tooltip-val">{{model.value}}</span>
        </ng-template>
</ngx-charts-bar-horizontal-stacked>