
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';


.card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
    text-align: right;
    background: #ffff;
}
.card [class*=card-header-] {
    margin: 0 15px;
    padding: 0;
    position: relative;
}
.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
}

.card .card-header-warning .card-icon{
    background: linear-gradient(60deg,#ffa726,#fb8c00);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
}
.card-footer {
    padding: .75rem 1.25rem;
     background-color: #ffff;
    border-top: 1px solid rgba(0,0,0,.125);
}

.card .card-header-success .card-icon{
    background: linear-gradient(60deg,#66bb6a,#43a047);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
}

.card .card-header-danger .card-icon{
    background: linear-gradient(60deg,#ef5350,#e53935);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
}


.card .card-header-info .card-icon{
    background: linear-gradient(60deg,#26c6da,#00acc1);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
}

.card-icon .material-icons, .card-icon .fa-twitter{
    color:#ffff;
}


app-customchart{
    margin:50%
}